<h1>Password Reset</h1>

<p>Hi <%= @user.name %>,</p>

<p>You requested a password reset for your Prompt account. Click the link below to set a new password:</p>

<p><%= link_to "Reset my password", @reset_url %></p>

<p>This link will expire in 2 hours.</p>

<p>If you didn't request this, you can safely ignore this email.</p>
